<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->

<!-- | For more configuration infromation and examples see the Jakarta Log4j 
	| owebsite: http://jakarta.apache.org/log4j -->
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- <!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" 
		"log4j.dtd"> <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> -->

	<appender name="rollingFile"
		class="org.apache.log4j.RollingFileAppender">
		<param name="file"
			value="./logs/app_${current.date.time}.log" />
		<param name="MaxFileSize" value="500MB" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">

		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<!-- <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] 
				%m%n"/> -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>

	</appender>

	<root>
		<priority value="INFO" />
		<appender-ref ref="rollingFile" />
		<!-- <appender-ref ref="FILE" /> -->
		<!--<appender-ref ref="CONSOLE" />-->
	</root>

</log4j:configuration>